{% extends 'base.html' %}

{% block title %}
<title>Home - TaskFlask</title>

{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to the home page!</p>

    {% if tasks|length == 0 %}
        <p>No tasks yet!</p>
    {% else %}
        <p>You have {{ tasks|length }} tasks!</p>
    

    <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>
                    {{ task.title }}
                </td>
                <td>
                    {{ task.date_created.date() }}
                </td>
                <td>
                    <a href="delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        
    </table>

    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Enter task here">
        <input type="submit" value="Add Task">
    </form>
{% endblock %}